@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 56, 236);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body>h1{
    text-align: center;
    margin: 20px 0px;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}

main>div{
    margin: 0px 0px 0px 10px;
}
main>div>p{
    margin: 30px 0px 0px 10px;
}

img#foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
}