@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(71, 71, 236);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em
}

body> header >h1{
    text-align: center;
    margin: 20px 0px;
}

body> footer >p{
    text-align: center;
    margin-top: 20px;
}

section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.267);
}

section > div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 10px;
}

section > div > p{
    margin: 8px 0px;
}